/* cp.css */
.choose-player {
  text-align: center;
  opacity: 0; /* Set initial opacity to 0 */
  transform: translateY(50px); /* Set initial translateY value */
  animation: fadeInUp 1s ease-out 2s forwards; /* Animation properties */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.choose-player h2 {
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 80px;
}

.gradient-buttoncp {
  background: linear-gradient(
    90.88deg,
    rgba(254, 174, 219, 0.24) -43.98%,
    rgba(245, 172, 236, 0.3) 35.88%,
    rgba(103, 211, 255, 0.492) 114.14%
  );
  border: none;
  font-size: 32px;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  height: 79px;
  width: 505px; /* Total width of buttons */
  margin: 0 auto; /* Center align buttons */
}

.gradient-buttoncp + .gradient-buttoncp {
  margin-left: 211px; /* Adjust the gap between buttons */
}


@media only screen and (max-width: 768px) {
  .choose-player h2 {
    font-size: 28px; /* Decreasing heading font size for smaller screens */
    margin-bottom: 40px; /* Decreasing bottom margin for smaller screens */
  }

  .gradient-buttoncp {
    font-size: 14px; /* Decreasing button font size for smaller screens */
    width: 180px; /* Adjusting button width for smaller screens */
    height: 30px; /* Adjusting button height for smaller screens */
    padding:0px;
    margin-left: 10px;
    margin-right: 10px;
  }

}