.Outside{
    margin: 50px;
    overflow: hidden;
    position: relative;
}
.articless{
    /* width:min-content;
    height:auto ; */
    display:flex;
    flex-wrap: nowrap;
    gap:24px;
    max-width: 100%; /* Ensure the container takes the full width */
    /* overflow-x: auto; Allow scrolling if content overflows */
    animation : slide 15s linear infinite;
    animation-play-state: running; /* Default state is running */
  }

  /* Pause animation on hover */
.Outside:hover .articless {
  animation-play-state: paused;
}


@keyframes slide{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

/* .article-wrapper{
    min-width: 320px;
    flex-shrink: 0;
    border-radius:16px;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
} */
article {
    --img-scale: 1.001;
    --title-color: rgb(255, 255, 255);
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    flex: 0 0 auto; /* Prevent articles from growing or shrinking */
    width: 320px; /* Set a fixed width for each article */
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #0b0b0b;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }
  
  article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  
  /* basic article elements styling */
  article h2 {
    margin: 0 0 18px 0;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
  }

  .read-more{
    padding-top: 8px;
  }
  
  figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  
  article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
    padding: 24px;
  }
  
  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
  }
  
  /* article a:focus {
    outline: 1px dotted #6e286c;
  } */
  
  article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
  
  /* using the has() relational pseudo selector to update our custom properties */
  article:has(:hover, :focus) {
    /* animation :none; */
    --img-scale: 1.1;
    --title-color: #f3f7f7;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    background: linear-gradient(
        90.88deg,
        rgba(254, 174, 219, 0.24) -43.98%,
        rgba(245, 172, 236, 0.3) 35.88%,
        rgba(103, 211, 255, 0.492) 114.14%
      );
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
  
  /************************ 
  Generic layout (demo looks)
  **************************/
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* body {
    margin: 0;
    padding: 48px 0;
    font-family: "Figtree", sans-serif;
    font-size: 1.2rem;
    line-height: 1.6rem;
    background-image: linear-gradient(45deg, #7c9885, #b5b682);
    min-height: 100vh;
  } */
  
  
  
  @media screen and (max-width: 960px) {
    article {
      container: card/inline-size;
    }
    .article-body p {
      display: none;
    }
  }
  
  @container card (min-width: 380px) {
    .article-wrapper {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 16px;
    }
    .article-body {
      padding-left: 0;
    }
    figure {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    figure img {
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
  
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }