.outercard {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 60px;
    opacity: 0;
    transform: translateY(50px) scale(0.5); /* Initial scale for zoom-in effect */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    /* animation: zoomInOut 1s ease-out forwards; Apply zoom animation */
  }
  
  .innercard {
    text-align: center;
    /* object-fit: cover; */
    width:1000px;
    height: auto;
    margin: 60px;
    padding: 15px;
    /* font-size: 25px; */
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  .innercard p {
    /* width: 1000px; */
    /* white-space: nowrap; Prevents text wrapping */
    /* overflow-x: auto;    Allows horizontal scrolling if text is too long */
    display: inline-block; /* Ensure the text flows horizontally */
    font-size: 18px;     /*Adjust font size to fit*/
    text-align: center;    /* Align text to the left */
  }
  
  
  
  .what-is-finxpo-img {
    position: absolute;
    top: -180px;
    left: 0;
    z-index: 1;
    margin-top: 0px;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  
  .what-is-finxpo-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.15;
  }
  
  /* Keyframe Animation for zoom in and out */
  @keyframes zoomInOut {
    0% {
      opacity: 0;
      transform: translateY(50px) scale(0.5); /* Start zoomed out and below */
    }
    50% {
      opacity: 1;
      transform: translateY(0) scale(1.2); /* Zoom in */
    }
    100% {
      transform: translateY(0) scale(1); /* Return to original size */
    }
  }

  .whatsin{
    margin-bottom: 300px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(50px) scale(0.5); /* Initial scale for zoom-in effect */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;

  }
  .whatsin h1{
     font-size: 40px;
     margin-bottom: 60px;
  }
  
  .border-gradient {
    border: 130px solid transparent; /* Set the border width */
    border-image-source: linear-gradient(
      90.88deg,
      rgba(254, 174, 219, 0.24) -43.98%,
      rgba(245, 172, 236, 0.3) 35.88%,
      rgba(103, 211, 255, 0.492) 114.14%
    );
    border-image-slice: 1;
  }

  .border-gradient2 {
    border: 20px solid transparent; /* Set the border width */
    border-image-source: linear-gradient(
      90.88deg,
      rgba(254, 174, 219, 0.24) -43.98%,
      rgba(245, 172, 236, 0.3) 35.88%,
      rgba(103, 211, 255, 0.492) 114.14%
    );
    border-image-slice: 1;
  }
  