.navbar {
  /* background-color: #333; */
  color: white;
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 10px 10px;
  height: 157px;
  z-index: 1000;
  margin : auto 5px;
}

.navbar__logo {
  font-size: 24px;
}

.navbar__links{
  border-radius: 8px;
  background: linear-gradient(
      90.88deg,
      rgba(254, 174, 219, 0.1) -43.98%, /* Reduced alpha for more transparency */
      rgba(245, 172, 236, 0.15) 35.88%, /* Reduced alpha */
      rgba(103, 211, 255, 0.25) 114.14% /* Reduced alpha */
    );
}

.navbar__links a {
  display: inline;
  width: 179px;
  height: 49px;
  line-height: 49px;
  text-align: center;
  margin: auto 28px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.navbar__links a:hover {
  text-decoration: underline;
}

.navbar__logo img {
  width: 137px;
  height: 137px;
  /* margin : auto 70px ; */
}

@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: row; /* Revert to row layout for larger screens */
    height: 50px; /* Restore original height for larger screens */
    margin-bottom: 20px;
    
  }

  .navbar__logo img {
    width: 67px;
    height: 57px;
  }

  .navbar__links a {
    flex-direction: row; /* Revert to row layout for larger screens */
    margin-right: 0px;
    line-height: 0px;
    font-size: 10px;
    width: 70px;
    height: 20px;
  }
}
