/* he.css */
.hero {
  position: relative;
  margin-bottom: -200px;
  height:1100px;
/* margin-bottom: 100px; */
}

.hero__content {
  text-align: center;
  position: relative;
  left: -150px;
  top: 120px;
  z-index: 10;
}

.hero img {
  position: relative;
  top: -300px;
  width: 100%;
  height: 70%;
  z-index: 0;
  object-fit: cover;
}

.hero__text {
  color: white;
  font-size: 60px;
  margin-bottom: 20px;
}

.register-btn {
  background: linear-gradient(
    90.88deg,
    rgba(254, 174, 219, 0.24) -43.98%,
    rgba(245, 172, 236, 0.3) 35.88%,
    rgba(103, 211, 255, 0.492) 114.14%
  );
  font-family: sans-serif;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 32px;
  height: 79px;
  width: 288px;
  margin-top: 50px;
}

.register-btn:hover {
  filter: brightness(1.2); /* Optional: Increase brightness on hover */
}

/* he.css */

/* Styles for screens smaller than 768px */
@media only screen and (max-width: 768px) {
  .hero__content {
    left: -50px; /* Adjusting left position for smaller screens */
    top: 50px; /* Adjusting top position for smaller screens */
    margin-bottom: 130px;
  }

  .hero_img {
    top: -200px; /* Adjusting top position for smaller screens */
  }

  .hero__text {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .register-btn {
    font-size: 14px; /* Decreasing button font size for smaller screens */
    height: 30px; /* Adjusting button height for smaller screens */
    width: 100px; /* Adjusting button width for smaller screens */
    margin-top: 0px; /* Adjusting margin-top for smaller screens */
    padding: 0px;
  }
}
