/* foot.css */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;

  color: white;
  font-size: 30px;
}

.footer__logo img {
  height: 278px;
  width: 289px;
  position: relative;
}
.back1 {
  position: absolute;
  width: 100%;
  height: 32%;
  opacity: 0.27;
  background: linear-gradient(
    90.88deg,
    rgba(254, 174, 219, 0.24) -43.98%,
    rgba(245, 172, 236, 0.3) 35.88%,
    rgba(103, 211, 255, 0.492) 114.14%
  );
  left: 0;
}

.footer__left {
  top: 70px;
  left: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.footer__right {
  top: 70px;
  left: -200px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.navbar__logo {
  margin-right: 10px;
}

.footer__left a,
.footer__right a {
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
}

.footer__rightbottom {
  display: flex;
}

.footer__rightbottom a {
  margin-right: 10px;
  color: white;
  text-decoration: none;
}
