/* App.css */
body {
  background-color: #000000;
  color: white;
  margin: 0;
  padding: 0;
}

/* .App {
  padding: 20px;
} */

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.gradient-text {
  background: linear-gradient(
    90.88deg,
    rgba(200, 100, 150, 0.8) -43.98%, /* Darker version of rgba(254, 174, 219, 0.24) */
    rgba(180, 90, 200, 0.85) 35.88%, /* Darker version of rgba(245, 172, 236, 0.3) */
    rgba(50, 120, 180, 0.9) 114.14% /* Darker version of rgba(103, 211, 255, 0.492) */
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}